@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shantell+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2B3467;
  margin: 0;
}

header {
  background-color: #2B3467;
  min-width: 320px;
  width: 100vw;
  margin: 0;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #2B3467;
  min-width: 320px;
  width: 100vw;
  margin: 0;
  padding-bottom: 2px;
}

section {
  width: 100vw;
  min-height: 400px;
}

footer {
  background-color: #2B3467;
  min-width: 320px;
  width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 800px) {
  #header>h1 {
    font-size: 1.8rem;
  }
}

#aboutMe {
  background-color: #FCFFE7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 0.2fr;
  justify-items: center;
}

#aboutMe>h2 {
  font-family: 'Shantell Sans', cursive;
  font-size: 40px;
  grid-area: 1 / 1 / 2 / 2;
  margin: 30px 100px 10px 0px;
}

#aboutMe>img {
  grid-area: 2 / 1 / 3 / 2 ;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

#aboutMe>h3 {
  font-size: 1.4rem;
  font-family: 'Times New Roman', Times, serif;
  align-self: center;
  grid-area: 1 / 2 / 3 / 3;
  width: 80%;
  height: 60%;
}

#projects {
  background-color: #BAD7E9;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#projects>h2 {
  font-family: 'Shantell Sans', cursive;
  font-size: 40px;
  margin: 20px 0px 20px 0px
}

#projects>.myProjectSlides {
  min-height: 220px;
  /* max-height: 154px; */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#projects>.myProjectSlides>a {
  margin: 0px 0px 20px 0px;
  font-size: 40px;
  font-weight: 600;
}

#projects>.myProjectSlides>a:hover {
  transition: ease-in-out 0.5s;
  transform: scale(1.1);
}

#projects>.myProjectSlides>h3 {
  margin: 10px;
}

#projects>.buttons  {
  margin: 20px 0px 10px 0px;
}

#skills {
  background-color: #EB455F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skills>h2 {
  font-family: 'Shantell Sans', cursive;
  font-size: 40px;
  grid-area: 1 / 1 / 2 / 2;
  margin: 0px;
}

#skills>.lists>ul>li {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  width: 100%;
  margin: 40px;
}

#socialMedia {
  background-color: #7DB9B6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#socialMedia>h2 {
  font-family: 'Shantell Sans', cursive;
  font-size: 40px;
  margin: 20px 0px 10px 0px;
}

#socialMedia>h3 {
  width: 80%;
  font-family: 'Shantell Sans', cursive;
}

#socialMedia>span {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  margin: 10px 0px 40px 0px;
  /* font-family: 'Shantell Sans', cursive; */
}

#backToTop {
  background-color: #2B3467;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 40px;
  position: fixed;
  bottom: 100px;
  right: 60px
}

#toadPic {
  height: 400px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab {
  padding: 10px;
  background-color: #222951;
  color: white;
}

.tab:hover {
  background-color: #38427a;
  transform: scale(1.2);
  transform-origin: bottom;
  transition: ease-in-out 0.5s;
}

.topIcons {
  color: white;
  margin: 0px 5px 20px 5px;
}

.margin {
  margin-bottom: 10px;
}

.socialPNG {
  width: 25px;
  filter: brightness(0) invert(1);
}

.socialPNG2 {
  width: 40px;
  filter: brightness(0);
}

.basicSize {
  width: 300px;
  height: auto;
}

.buttons {
  grid-area: 3 / 1 / 4 / 2 ;
  justify-self: center;
  align-self: center;
  margin-top: -10px;
}

.temporary {
  font-size: 30px;
}

.temporary:hover {
  transition: ease-in 0.3s;
  transform: scale(1.1);
}

.personalPic2 {
  width: 200px;
  /* height: 200px; */
  border-radius: 100px;
  border: 4px solid black;
}

.lists {
  display: flex;
}

@media (max-width: 800px) {
  #header>h1 {
    font-size: 1.8rem;
  }

  #aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #socialMedia>span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}